.loader__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .loader__spinner {
    width: 5rem;
    height: 5rem;
    border-width: 2px;
    border-color: rgba(59, 130, 246, 0.2);
    border-top-color: #3b82f6;
    border-style: solid;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
